<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAVARIA</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container">
        <main>
            <img src="../img/portada-bavaria.jpg" alt="Bavaria">
            <nav class="menu">
                <ul>
                    <li><a href="../index.html"><img src="../img/inicio1.png" alt="Inicio"></a></li>
                    <li><a href="servicio.html"><img src="../img/servicios.png" alt="Servicios"></a></li> 
                    <li><a href="contacto.html"><img src="../img/contactos.png" alt="Contactos"></a></li>
                </ul>
            </nav>
        </main>

        <form action="/action_page.php">

            <label for="cc">Cédula</label>
            <input type="number" id="cc" name="cc" placeholder="Número de cédula..">

            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" name="nombres" placeholder="Tus nombres..">

            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" placeholder="Tus apellidos..">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Tu correo electrónico..">

            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Tu usuario..">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Tu contraseña..">

            <input type="submit" value="Enviar">

        </form>

        <footer>
            <p>Pagina web realizada para fines netamente académicos por: Estefanya Garay Larios</p>
            <ul>    
                <li><a href="http://www.youtube.com/@FrisbyFans"><img src="../img/Youtube (1).png" alt="YouTube"></a></li>
                <li><a href="https://www.facebook.com/frisbyfans"><img src="../img/facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.twitter.com/frisbylohace"><img src="../img/twiter.png" alt="Twitter"></a></li>
            </ul>
        </footer>
    </div>

</body>
</html>