<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAVARIA</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container">
        <main>
            <img src="../img/portada-bavaria.jpg" alt="Bavaria">
            <nav class="menu">
                <ul>
                    <li><a href="../index.html"><img src="../Img/inicio1.png" alt="Inicio"></a></li>
                    <li><a href="#"><img src="../Img/servicios.png" alt="Servicios"></a></li> 
                    <li><a href="contacto.html"><img src="../Img/contactos.png" alt="Contactos"></a></li>
                </ul>
            </nav>
        </main>
        <p>Las cervezas de Bavaria S.A. son algunas de las más reconocidas en Colombia y hacen parte de la cultura y tradición del país. Esta empresa, fundada en 1889, se dedica a la producción y comercialización de bebidas como cerveza y malta, y actualmente pertenece al grupo internacional AB InBev. Entre sus marcas más populares se encuentran Águila, Poker, Club Colombia y Costeña, cada una con diferentes estilos y sabores que se adaptan a los gustos de los consumidores. Bavaria es una de las empresas líderes en el mercado cervecero del país y ha tenido un gran impacto en la economía, generando empleo y promoviendo el desarrollo industrial.</p>
        <div class="imagenes">

            <div class="combo">
                <h4>COMBO 1</h4>
                <img src="../img/img1.jpg" alt="Combo 1">
               
            </div>
            <div class="combo">
                <h4>COMBO 2</h4>
                <img src="../img/img2.jpg" alt="Combo 2">
                
            </div>
        </div>
        
         <footer>
            <p>pagina web realiza para fines netamente académicos por:estefanya garay larios</p>
            <ul>    
                <li><a href="http://www.youtube.com/@FrisbyFans"><img src="../Img/Youtube (1).png" alt="YouTube"></a></li>
                <li><a href="https://www.facebook.com/frisbyfans"><img src="../Img/Facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.twitter.com/frisbylohace"><img src="../Img/twiter.png" alt="Twitter"></a></li>
            </ul>

        </footer>
    </div>

</body>
</html>